<h3>Horses</h3>
<!-- I made this page work on my end, so I can make the geocoding and map
I backupped the original version in index.html.erb_original -->

<% @horses.each do |horse| %>
  <p>-----------------------------------------------------</p>
  <p><%= link_to horse.name, horse_path(horse) %>, Owner: <%= horse.user.email %>, photo.</p>

  <% if policy(horse).edit? %>
  <%= link_to 'Edit', edit_horse_path(horse) %>
  <% end %>

  <% if policy(horse).destroy? %>
  <%= link_to 'Delete', horse, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <% end %>

<!-- CvT: this is my Mapbox code! -->
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
