
<body id="bg-showpage">
  <div class="section-center">
  <div class="container">
  <div id="container-horse" class="row">
    <div class="card-horse-show">
      <div id="something">

        <div id="pic">
          <%= cl_image_tag @horse.photo, height: 250, width: 220, crop: :limit, class: 'card-img-bottom' %>
        </div>

        <div id="text">
          <h3 class="font-weight-bold my-4 pb-2 dark-grey-text"><%= @horse.name %></h3>
          <!-- name deleted, was double -->
          <p>Breed: <%= @horse.breed %></p>
          <p>Difficulty level: <%= @horse.level %></p>
          <p>Address: <%= @horse.address %></p>
          <p>Description: <%= @horse.description %></p>
          <p>Price per hour: EUR <%= @horse.price %></p>
          <%= link_to "Back to Horses", horses_path, class: "btn btn-light btn-lg text-center btn-rounded my-4" %>
        </div>



        <div id="map" style="width: 100%; height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>
  </div>
</div>

<% unless policy(@reservation).create? %>
<%= "These are the bookings on your horse" unless @horse.reservations.empty? %>
<% else %>
    <div class="row">
      <div class="booking-form">
        <%= simple_form_for [@horse, @reservation] do |f| %>
          <div class="row no-margin">
                <div class="col-md-4">
                  <div class="form-group">
                    <span><%= f.input :date_available %></span>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                    <span><%= f.input :timeslot, as: :select, collection: ['9-11AM', '13-15PM', '16-18PM'] %></span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <span><%= f.input :status, as: :select, collection: ['booked', 'cancel'] %></span>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                    <span><%= f.button :submit, class: 'btn btn-light' %></span>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
<% end %>
    <div class="container">
      <% @horse.reservations.each do |reservation| %>
        <div class="row">
          <div class= "card">
            <div class="card-text">
              <%= reservation.date_available %>
              <%= reservation.timeslot %>
              <%= reservation.status %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-horse">
  <br>
</div>
</body>
