

  <div class="container-horse">
    <div class="card-horse-show">
      <div id="something">

        <div id="pic">
          <%= cl_image_tag @horse.photo, height: 250, width: 220, crop: :limit, class: 'card-img-bottom' %>
        </div>

        <div id="text">
          <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">Horse's name: <%= @horse.name %></h3>
          <p>Name: <%= @horse.name %></p>
          <p>Breed: <%= @horse.breed %></p>
          <p>Level: <%= @horse.level %></p>
          <p>Address: <%= @horse.address %></p>
          <p>Description: <%= @horse.description %></p>
          <p>Price per hour: EUR <%= @horse.price %></p>
        </div>


          <div>
            <%= link_to "Back to Horses", horses_path, class: "btn btn-primary btn-lg text-center btn-rounded my-4 waves-effect" %>
          </div>

      </div>

    </div>
  </div>
  <!-- </body> -->
<!-- </html> -->


  <!-- <div class="row"> -->
