
<body id="bg-showpage">
  <div class="section-center">
  <div class="container">
  <div id="container-horse" class="row">
    <div class="card-horse-show">
      <div id="something">

        <div id="pic">
          <%= cl_image_tag @horse.photo, height: 250, width: 220, crop: :limit, class: 'card-img-bottom' %>
        </div>

        <div id="text">
          <h3 class="font-weight-bold my-4 pb-2 dark-grey-text"><%= @horse.name %></h3>
          <!-- name deleted, was double -->
          <p>Breed: <%= @horse.breed %></p>
          <p>Difficulty level: <%= @horse.level %></p>
          <p>Address: <%= @horse.address %></p>
          <p>Description: <%= @horse.description %></p>
          <p>Price per hour: EUR <%= @horse.price %></p>
          <%= link_to "Back to Horses", horses_path, class: "btn btn-light btn-lg text-center btn-rounded my-4" %>
        </div>



        <div id="map" style="width: 100%; height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>
  </div>
</div>


    <div class="row">
      <div class="booking-form">
        <form>
          <div class="row no-margin">
            <div class="col-md-2">
              <div class="form-group">
                <input class="form-control" type="date" required>
                <span class="form-label">Select date</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <span class="form-label">Timeslot</span>
                <select class="form-control">
                  <option>9-11AM</option>
                  <option>12-15PM</option>
                  <option>16-18PM</option>
                </select>
                <span class="select-arrow">
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text">
                <span class="form-label">Additional comment</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-btn">
                <button class="btn btn-light">Book now</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-horse">
  <br>
</div>
</body>
