<!-- <div class="container-horse">
  <div class="card-horse-show">
    <div id="something"> -->

<body id="bg-showpage">
  <div id="container-horse">
    <div class="card-horse-show">
      <div id="something">

        <div id="pic">
          <%= cl_image_tag @horse.photo, height: 250, width: 220, crop: :limit, class: 'card-img-bottom' %>
        </div>

      <div id="text">
        <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">Horse's name: <%= @horse.name %></h3>
        <p>Name: <%= @horse.name %></p>
        <p>Breed: <%= @horse.breed %></p>
        <p>Level: <%= @horse.level %></p>
        <p>Address: <%= @horse.address %></p>
        <p>Description: <%= @horse.description %></p>
        <p>Price per hour: EUR <%= @horse.price %></p>
      </div>


      <div>
        <%= link_to "Back to Horses", horses_path, class: "btn btn-light btn-lg text-center btn-rounded my-4" %>
      </div>
    </div>
  </div>
</div>

<div class="section-center">
  <div class="container">
    <div class="row">
      <div class="booking-form">
        <%= simple_form_for [@horse, @reservation] do |f| %>
          <div class="row no-margin">
                <div class="col-md-4">
                  <div class="form-group">
                    <span><%= f.input :date_available %></span>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                    <span><%= f.input :timeslot, as: :select, collection: [['9-11AM'], ['13-15PM'], ['16-18PM']] %></span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <span><%= f.input :status,  default: 'available' %></span>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                    <span><%= f.button :submit, class: 'btn btn-light' %></span>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <% @horse.reservations.each do |reservation| %>
        <div class="row">
          <div class= "card">
            <div class="card-text">
              <%= reservation.date_available %>
              <%= reservation.timeslot %>
              <%= reservation.status %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
